<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boooya - Validation Engine</title>

        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>

        <!-- APP WRAPPER -->
        <div class="app">

            <!-- START APP CONTAINER -->
            <div class="app-container">
                <!-- START SIDEBAR -->
                <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other">
                    <a href="index.html" class="app-navigation-logo">
                        Boooya - Revolution Admin Template
                        <button class="app-navigation-logo-button mobile-hidden" data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span> <span class="app-navigation-logo-button-alert">7</span></button>
                    </a>
                    <nav>
                        <ul>
                            <li class="title">MAIN</li>
                            <li><a href="index.html"><span class="nav-icon-hexa text-bloody-100">Ds</span> Dashboard</a></li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-orange-100">Pg</span> Pages <span class="label label-success label-bordered label-ghost">+5</span></a>
                                <ul>
                                    <li><a href="pages-faq.html"><span class="nav-icon-hexa">Fq</span> FAQ</a></li>
                                    <li><a href="pages-gallery.html"><span class="nav-icon-hexa">Ga</span> Gallery</a></li>
                                    <li><a href="pages-help.html"><span class="nav-icon-hexa">Hp</span> Help</a></li>
                                    <li><a href="pages-search.html"><span class="nav-icon-hexa">Sr</span> Search Result</a></li>
                                    <li><a href="pages-calendar.html"><span class="nav-icon-hexa">Cr</span> Calendar <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Pt</span> Payment <span class="label label-success label-bordered label-ghost">new</span></a>
                                        <ul>
                                            <li><a href="pages-payment-invoice.html"><span class="nav-icon-hexa">Pi</span> Invoice</a></li>
                                            <li><a href="pages-payment-pricing.html"><span class="nav-icon-hexa">Pt</span> Pricing Tables</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Cs</span> Call Service <span class="label label-success label-bordered label-ghost">new</span></a>
                                        <ul>
                                            <li><a href="pages-call-service-daily.html"><span class="nav-icon-hexa">Ds</span> Daily Statistics</a></li>
                                            <li><a href="pages-call-service-process.html"><span class="nav-icon-hexa">Pw</span> Process Window</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Ba</span> Bank Application</a>
                                        <ul>
                                            <li><a href="pages-bank-main.html"><span class="nav-icon-hexa">Mn</span> Main</a></li>
                                            <li><a href="pages-bank-deposits.html"><span class="nav-icon-hexa">Dp</span> Deposits</a></li>
                                            <li><a href="pages-bank-activity.html"><span class="nav-icon-hexa">Ac</span> Activity</a></li>
                                            <li><a href="pages-bank-settings.html"><span class="nav-icon-hexa">St</span> Settings</a></li>
                                            <li><a href="pages-bank-security.html"><span class="nav-icon-hexa">Sc</span> Security</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Bp</span> Blog Pages</a>
                                        <ul>
                                            <li><a href="pages-blog-main.html"><span class="nav-icon-hexa">Ma</span> Main (Variant 1)</a></li>
                                            <li><a href="pages-blog-main-2.html"><span class="nav-icon-hexa">Mn</span> Main (Variant 2)</a></li>
                                            <li><a href="pages-blog-category.html"><span class="nav-icon-hexa">Ct</span> Category (Right Sidebar)</a></li>
                                            <li><a href="pages-blog-category-2.html"><span class="nav-icon-hexa">Cr</span> Category (Left Sidebar)</a></li>
                                            <li><a href="pages-blog-single.html"><span class="nav-icon-hexa">Sn</span> Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Pf</span> User Profiles</a>
                                        <ul>
                                            <li><a href="pages-profile-social.html"><span class="nav-icon-hexa">Sp</span> Social Profile</a></li>
                                            <li><a href="pages-profile-card.html"><span class="nav-icon-hexa">Pc</span> Profile Card</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="pages-contact-list.html"><span class="nav-icon-hexa">Cl</span> Contact List</a></li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Ms</span> Messages</a>
                                        <ul>
                                            <li><a href="pages-messages-chat.html"><span class="nav-icon-hexa">Ct</span> Chat</a></li>
                                            <li><a href="pages-messages-list.html"><span class="nav-icon-hexa">Ml</span> Messages List</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="pages-lock-screen.html"><span class="nav-icon-hexa">Ls</span> Lock Screen</a></li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Si</span> Log In / Sign In</a>
                                        <ul>
                                            <li><a href="pages-login.html"><span class="nav-icon-hexa">Li</span> Log In</a></li>
                                            <li><a href="pages-login-bg.html"><span class="nav-icon-hexa">Lb</span> Log In (Background)</a></li>
                                            <li><a href="pages-signin.html"><span class="nav-icon-hexa">Si</span> Sign In</a></li>
                                            <li><a href="pages-signin-bg.html"><span class="nav-icon-hexa">Sb</span> Sign In (Background)</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="documentation.html"><span class="nav-icon-hexa text-yellow-100">Dc</span> Documentation</a></li>

                            <li class="title">LAYOUTS</li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-lime-200">Lc</span> Layout Components</a>
                                <ul>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Hd</span> Headers</a>
                                        <ul>
                                            <li><a href="layouts-header.html"><span class="nav-icon-hexa">Sm</span> Simple</a></li>
                                            <li><a href="layouts-header-inside.html"><span class="nav-icon-hexa">Ic</span> Insde Content</a></li>
                                            <li><a href="layouts-header-fixed.html"><span class="nav-icon-hexa">Fh</span> Fixed Header</a></li>
                                            <li><a href="layouts-header-title.html"><span class="nav-icon-hexa">Wt</span> With Title</a></li>
                                            <li><a href="layouts-header-navigation.html"><span class="nav-icon-hexa">Sn</span> Simple Navigation</a></li>
                                            <li><a href="layouts-header-navigation-custom.html"><span class="nav-icon-hexa">Sh</span> Simple Navigation (Hover Item)</a></li>
                                            <li><a href="layouts-header-navigation-extended.html"><span class="nav-icon-hexa">En</span> Extended Navigation</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Sb</span> Sidebars</a>
                                        <ul>
                                            <li><a href="layouts-sidebar-left.html"><span class="nav-icon-hexa">Ls</span> Left Sidebar</a></li>
                                            <li><a href="layouts-sidebar-right.html"><span class="nav-icon-hexa">Rs</span> Right Sidebar</a></li>
                                            <li><a href="layouts-sidebar-left-right.html"><span class="nav-icon-hexa">Lr</span> Left & Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Nv</span> Navigation</a>
                                        <ul>
                                            <li><a href="layouts-navigation-default.html"><span class="nav-icon-hexa">Df</span> Default</a></li>
                                            <li><a href="layouts-navigation-default-fixed.html"><span class="nav-icon-hexa">Fx</span> Default Fixed</a></li>
                                            <li><a href="layouts-navigation-close-other.html"><span class="nav-icon-hexa">Co</span> Close Other</a></li>
                                            <li><a href="layouts-navigation-hidden.html"><span class="nav-icon-hexa">Hd</span> Hidden</a></li>
                                            <li><a href="layouts-navigation-minimized.html"><span class="nav-icon-hexa">Mz</span> Minimized</a></li>
                                            <li><a href="layouts-navigation-open-hover.html"><span class="nav-icon-hexa">Oh</span> Open On Hover</a></li>
                                            <li><a href="layouts-navigation-light.html"><span class="nav-icon-hexa">Ct</span> Custom Theme</a></li>
                                            <li><a href="layouts-navigation-mobile.html"><span class="nav-icon-hexa">Ms</span> Mobile Style (Simple)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Cn</span> Content</a>
                                        <ul>
                                            <li><a href="layouts-content-resizable.html"><span class="nav-icon-hexa">Rz</span> Resizable</a></li>
                                            <li><a href="layouts-content-tabbed.html"><span class="nav-icon-hexa">Tb</span> Tabbed Content</a></li>
                                            <li><a href="layouts-content-tabbed-controls.html"><span class="nav-icon-hexa">Tc</span> Tabbed Content (Controls)</a></li>
                                            <li><a href="layouts-content-separated.html"><span class="nav-icon-hexa">Sc</span> Separated Content</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Sp</span> Sidepanels</a>
                                        <ul>
                                            <li><a href="layouts-sidepanel.html"><span class="nav-icon-hexa">Df</span> Default</a></li>
                                            <li><a href="layouts-sidepanel-overlay.html"><span class="nav-icon-hexa">Wo</span> With Overlay</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Fo</span> Footers</a>
                                        <ul>
                                            <li><a href="layouts-footer-default.html"><span class="nav-icon-hexa">Sm</span> Simple</a></li>
                                            <li><a href="layouts-footer-extended.html"><span class="nav-icon-hexa">Et</span> Extended</a></li>
                                            <li><a href="layouts-footer-custom.html"><span class="nav-icon-hexa">Cd</span> Custom Design</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-green-100">Lo</span> Layout Options</a>
                                <ul>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Ln</span> Left Navigation</a>
                                        <ul>
                                            <li><a href="layouts-option-basic.html"><span class="nav-icon-hexa">Bs</span> Basic</a></li>
                                            <li><a href="layouts-option-basic-header.html"><span class="nav-icon-hexa">Wh</span> With Header</a></li>
                                            <li><a href="layouts-option-basic-footer.html"><span class="nav-icon-hexa">Wf</span> With Footer</a></li>
                                            <li><a href="layouts-option-basic-header-footer.html"><span class="nav-icon-hexa">Hf</span> Header & Footer</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Tn</span> Top Navigation</a>
                                        <ul>
                                            <li><a href="layouts-option-topnav-header.html"><span class="nav-icon-hexa">Hn</span> Header Navigation</a></li>
                                            <li><a href="layouts-option-topnav-horizontal.html"><span class="nav-icon-hexa">Hz</span> Horizontal Navigation</a></li>
                                            <li><a href="layouts-option-topnav-horizontal-boxed.html"><span class="nav-icon-hexa">Hb</span> Horizontal Navigation (Boxed)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Bx</span> Boxed</a>
                                        <ul>
                                            <li><a href="layouts-option-boxed.html"><span class="nav-icon-hexa">Bs</span> Basic</a></li>
                                            <li><a href="layouts-option-boxed-custom.html"><span class="nav-icon-hexa">Wm</span> With Margin</a></li>
                                            <li><a href="layouts-option-boxed-content.html"><span class="nav-icon-hexa">Bc</span> Boxed Content</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="title">COMPONENTS</li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-sea-100">Ue</span> UI Elements <span class="label label-success label-bordered label-ghost">+2</span></a>
                                <ul>
                                    <li><a href="components-blocks-panels.html"><span class="nav-icon-hexa">Bp</span> Blocks & Panles</a></li>
                                    <li><a href="components-widgets.html"><span class="nav-icon-hexa">Wi</span> Widgets & Informers</a></li>
                                    <li><a href="components-tabs-accordion.html"><span class="nav-icon-hexa">Ta</span> Tabs & Accordions</a></li>
                                    <li><a href="components-alerts-notifications.html"><span class="nav-icon-hexa">An</span> Alerts & Notifications</a></li>
                                    <li><a href="components-modals-popups.html"><span class="nav-icon-hexa">Mp</span> Modals & Popups</a></li>
                                    <li><a href="components-dropdowns.html"><span class="nav-icon-hexa">Dd</span> Dropdowns</a></li>
                                    <li><a href="components-buttons.html"><span class="nav-icon-hexa">Bt</span> Buttons</a></li>
                                    <li><a href="components-progressbar.html"><span class="nav-icon-hexa">Pb</span> Progress Bars</a></li>
                                    <li><a href="components-pagination.html"><span class="nav-icon-hexa">Pt</span> Pagination</a></li>
                                    <li><a href="components-spinners.html"><span class="nav-icon-hexa">Sp</span> Spinners</a></li>
                                    <li><a href="components-tour.html"><span class="nav-icon-hexa">To</span> Tour <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                    <li><a href="components-help-classes.html"><span class="nav-icon-hexa">Hc</span> Help Classes <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Lt</span> Lists</a>
                                        <ul>
                                            <li><a href="components-lists.html"><span class="nav-icon-hexa">Bl</span> Basic Lists</a></li>
                                            <li><a href="components-user-contacts.html"><span class="nav-icon-hexa">Uc</span> User & Contacts</a></li>
                                            <li><a href="components-tiles.html"><span class="nav-icon-hexa">Te</span> Tiles</a></li>
                                            <li><a href="components-news-info.html"><span class="nav-icon-hexa">Ni</span> News & Info</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="nav-icon-hexa">Tg</span> Typography</a>
                                        <ul>
                                            <li><a href="components-typography.html"><span class="nav-icon-hexa">Tp</span> Typography</a></li>
                                            <li><a href="components-labels-badges.html"><span class="nav-icon-hexa">Lb</span> Labels & Badges</a></li>
                                            <li><a href="components-text-heading.html"><span class="nav-icon-hexa">Th</span> Text Heading</a></li>
                                            <li><a href="components-heading.html"><span class="nav-icon-hexa">Pb</span> Page & Block Heading</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-teal-100">Fe</span> Features</a>
                                <ul>
                                    <li><a href="components-features-gallery.html"><span class="nav-icon-hexa">Cg</span> Compact Gallery</a></li>
                                    <li><a href="components-features-tips.html"><span class="nav-icon-hexa">Tp</span> Tips</a></li>
                                    <li><a href="components-features-loading.html"><span class="nav-icon-hexa">Ld</span> Loading</a></li>
                                    <li><a href="components-features-statusbar.html"><span class="nav-icon-hexa">Sb</span> Status Bar</a></li>
                                    <li><a href="components-features-preview.html"><span class="nav-icon-hexa">Pv</span> Preview</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-blue-100">Ic</span> Icons</a>
                                <ul>
                                    <li><a href="components-icons-fontawesome.html"><span class="nav-icon-hexa">Fa</span> Font Awesome</a></li>
                                    <li><a href="components-icons-linearicons.html"><span class="nav-icon-hexa">Li</span> Linearicons</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-darkblue-100">Tb</span> Tables</a>
                                <ul>
                                    <li><a href="components-tables-default.html"><span class="nav-icon-hexa">Df</span> Default</a></li>
                                    <li><a href="components-tables-sortable.html"><span class="nav-icon-hexa">Sa</span> Sortable</a></li>
                                    <li><a href="components-tables-export.html"><span class="nav-icon-hexa">Et</span> Export Tables</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-navyblue-100">Ch</span> Charts</a>
                                <ul>
                                    <li><a href="components-charts-morris.html"><span class="nav-icon-hexa">Mc</span> Morris Charts</a></li>
                                    <li><a href="components-charts-rickshaw.html"><span class="nav-icon-hexa">Rc</span> Rickshaw Charts</a></li>
                                    <li><a href="components-charts-other.html"><span class="nav-icon-hexa">Ot</span> Other</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-indigo-100">Mp</span> Maps</a>
                                <ul>
                                    <li><a href="components-maps-jvectormap.html"><span class="nav-icon-hexa">Jm</span> jVectorMap</a></li>
                                    <li><a href="components-maps-google.html"><span class="nav-icon-hexa">Gm</span> Google Maps</a></li>
                                </ul>
                            </li>

                            <li class="title">FORMS</li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-purple-100">Fe</span> Form Elements <span class="label label-success label-bordered label-ghost">+2</span></a>
                                <ul>
                                    <li><a href="forms-elements-basic.html"><span class="nav-icon-hexa">Be</span> Basic Elements</a></li>
                                    <li><a href="forms-elements-checkbox-radio.html"><span class="nav-icon-hexa">Cr</span> Checkbox, Radio & Switch</a></li>
                                    <li><a href="forms-elements-select-datepicker.html"><span class="nav-icon-hexa">Sd</span> Select & Datepicker <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                    <li><a href="forms-elements-valudation-states.html"><span class="nav-icon-hexa">Vs</span> Validation States</a></li>
                                    <li><a href="forms-elements-input-groups.html"><span class="nav-icon-hexa">Ig</span> Input Group</a></li>
                                    <li><a href="forms-elements-file-handling.html"><span class="nav-icon-hexa">Fh</span> File Handling</a></li>
                                    <li><a href="forms-elements-other.html"><span class="nav-icon-hexa">Ot</span> Other <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-magenta-100">Vd</span> Validation</a>
                                <ul>
                                    <li><a href="forms-valudation-engine.html"><span class="nav-icon-hexa">Ve</span> Validation Engine</a></li>
                                    <li><a href="forms-valudation-helpers.html"><span class="nav-icon-hexa">Mh</span> Masked Helpers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-pink-100">Ma</span> Miscellaneous <span class="label label-success label-bordered label-ghost">+1</span></a>
                                 <ul>
                                    <li><a href="forms-wysiwyg-editors.html"><span class="nav-icon-hexa">We</span> WYSIWYG Editors</a></li>
                                    <li><a href="forms-code-preview.html"><span class="nav-icon-hexa">Cp</span> Code Preview</a></li>
                                    <li><a href="forms-wizard.html"><span class="nav-icon-hexa">Fw</span> Form Wizard <span class="label label-success label-bordered label-ghost">new</span></a></li>
                                </ul>
                            </li>

                            <li class="title">Navigation Examples</li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-maroon-100">Ic</span> Nav Element Icons</a>
                                <ul>
                                    <li><a href="#"><span class="nav-icon-hexa">Hw</span> Hexagon With Text</a></li>
                                    <li><a href="#"><span class="nav-icon-cube">Cb</span> Cube With Text</a></li>
                                    <li><a href="#"><span class="nav-icon-circle">Ct</span> Circle With Text</a></li>
                                    <li><a href="#"><span class="icon-laptop-phone"></span> Linearicon icon</a></li>
                                    <li><a href="#"><span class="fa fa-cog"></span> FontAwesome icon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon-hexa text-orange-100">El</span> Element With Label <span class="label label-warning label-bordered label-ghost">label</span></a>
                                 <ul>
                                    <li><a href="#"><span class="nav-icon-hexa">Dl</span> Default Label <span class="label label-default">38</span></a></li>
                                    <li><a href="#"><span class="nav-icon-hexa">La</span> Label With Animation <span class="label label-warning animated infinite rubberBand">hey!</span></a></li>
                                </ul>
                            </li>

                            <li class="title">RTL</li>
                            <li><a href="rtl.html"><span class="nav-icon-hexa text-yellow-100">Rs</span> RTL Support</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- END SIDEBAR -->

                <!-- START APP CONTENT -->
                <div class="app-content app-sidebar-left">
                    <!-- START APP HEADER -->
                    <div class="app-header">
                        <ul class="app-header-buttons">
                            <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                            <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                        </ul>
                        <form class="app-header-search" action="" method="post">
                            <input type="text" name="keyword" placeholder="Search">
                        </form>

                        <ul class="app-header-buttons pull-right">
                            <li>
                                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                                    <img src="assets/images/users/user_1.jpg" alt="John Doe">
                                    <div class="contact-container">
                                        <a href="#">John Doe</a>
                                        <span>Administrator</span>
                                    </div>
                                    <div class="contact-controls">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>
                                            <ul class="dropdown-menu dropdown-left">
                                                <li><a href="#"><span class="icon-cog"></span> Settings</a></li>
                                                <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+24</span></a></li>
                                                <li><a href="#"><span class="icon-users"></span> Contacts <span class="label label-default pull-right">76</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><span class="icon-exit"></span> Log Out</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END APP HEADER  -->

                    <!-- START PAGE HEADING -->
                    <div class="app-heading app-heading-bordered app-heading-page">
                        <div class="title">
                            <h2>Validation Engine</h2>
                            <p>Awesome plugin that helps you in validation.</p>
                        </div>
                        <!--<div class="heading-elements">
                            <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
                            <a href="https://themeforest.net/item/boooya-revolution-admin-template/17227946?ref=aqvatarius&license=regular&open_purchase_for_item_id=17227946" class="btn btn-success btn-icon-fixed"><span class="icon-text">$24</span> Purchase</a>
                        </div>-->
                    </div>
                    <div class="app-heading-container app-heading-bordered bottom">
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Form Elements</a></li>
                            <li class="active">Validation Engine</li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADING -->

                    <!-- START PAGE CONTAINER -->
                    <div class="container">

                        <div class="row">
                            <div class="col-md-6">

                                <!-- LENGTH EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>Answer length (required)</h2>
                                            <p>Validation of required fields and validates length of value.</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>Required</label>
                                            <span class="help-block">Require an answer (can be applied to all types of inputs and select elements)</span>
                                            <input class="form-control" data-validation="required" placeholder="Required">
                                        </div>
                                        <div class="form-group">
                                            <label>Max Length</label>
                                            <span class="help-block">Max 10 characters</span>
                                            <input class="form-control" data-validation="length,required" data-validation-length="max10" placeholder="Text up to 10 chars">
                                        </div>
                                        <div class="form-group">
                                            <label>Min Length</label>
                                            <span class="help-block">Min 5 characters</span>
                                            <input class="form-control" data-validation="length" data-validation-length="min5" placeholder="Text min length 5 chars">
                                        </div>
                                        <div class="form-group">
                                            <label>Min & Max Length</label>
                                            <span class="help-block">No less than 5 characters and no more than 10 characters</span>
                                            <input class="form-control" data-validation="length" data-validation-length="5-10" placeholder="Text between 5 and 10 chars">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END LENGTH EXAMPLE -->

                            </div>
                            <div class="col-md-6">

                                <!-- NUMBER EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>Numbers</h2>
                                            <p>Validating number values</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>Numeric</label>
                                            <span class="help-block">Any numerical value</span>
                                            <input class="form-control" data-validation="number" placeholder="Only numbers">
                                        </div>
                                        <div class="form-group">
                                            <label>Float</label>
                                            <span class="help-block">Only allowing float values</span>
                                            <input class="form-control" data-validation="number" data-validation-allowing="float" placeholder="Float number">
                                        </div>
                                        <div class="form-group">
                                            <label>Range</label>
                                            <span class="help-block">Only allowing numbers from 1 to 100</span>
                                            <input class="form-control" data-validation="number" data-validation-allowing="range[1;100]" placeholder="Range nuber 1-100">
                                        </div>
                                        <div class="form-group">
                                            <label>Negative Range</label>
                                            <span class="help-block">Only allowing numbers from -50 to 30</span>
                                            <input class="form-control" data-validation="number" data-validation-allowing="range[-50;30],negative" placeholder="Range nuber -50-30">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END NUMBER EXAMPLE -->

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <!-- DATE EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>Date validators</h2>
                                            <p>This module contains validators needed when validating dates and time.</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <span class="help-block">Validate date formatted yyyy-mm-dd.</span>
                                            <input class="form-control" data-validation="date" placeholder="yyyy-mm-dd">
                                        </div>
                                        <div class="form-group">
                                            <label>Custom Format</label>
                                            <span class="help-block">It is possible to use another format.</span>
                                            <input class="form-control" data-validation="date" data-validation-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
                                        </div>
                                        <div class="form-group">
                                            <label>Birthdate</label>
                                            <span class="help-block">Validate past dates and dates that is not older then 120 years.</span>
                                            <input class="form-control" data-validation="birthdate" data-validation-format="dd/mm/yyyy" placeholder="dd/mm/yyyy">
                                        </div>
                                        <div class="form-group">
                                            <label>Time</label>
                                            <span class="help-block">Validate time formatted HH:mm.</span>
                                            <input class="form-control" data-validation="time" placeholder="HH:mm">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END DATE EXAMPLE -->

                            </div>
                            <div class="col-md-6">

                                <!-- OTHER EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>Other Fields</h2>
                                            <p>Examples of other field types</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <span class="help-block">Validation of elmail adress input</span>
                                            <input class="form-control" data-validation="email" placeholder="youremail@domain.com">
                                        </div>
                                        <div class="form-group">
                                            <label>URL:s</label>
                                            <span class="help-block">URL validation example</span>
                                            <input class="form-control" data-validation="url" placeholder="http://domain.com/">
                                        </div>
                                        <div class="form-group">
                                            <label>Alphanumeric</label>
                                            <span class="help-block">This input requires an answer that contains only letters a-z and/or numbers</span>
                                            <input class="form-control" data-validation="alphanumeric" placeholder="a-z 0-9">
                                        </div>
                                        <div class="form-group">
                                            <label>Regexp</label>
                                            <span class="help-block">This input would only allow lowercase letters a-z</span>
                                            <input class="form-control" data-validation="custom" data-validation-regexp="^([a-z]+)$" placeholder="lowercase letters">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END OTHER EXAMPLE -->

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <!-- FILE EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>File validators</h2>
                                            <p>This module contains validators needed when validating file uploads.</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>File Size</label>
                                            <span class="help-block">Validate that file isn't larger than 512 kilo bytes.</span>
                                            <input type="file" class="file" data-validation="size" data-validation-max-size="512kb">
                                        </div>
                                        <div class="form-group">
                                            <label>File Type</label>
                                            <span class="help-block">Validate that file is an image of type JPG, GIF or PNG and not larger than 2 mega bytes</span>
                                            <input type="file" class="file" data-validation="mime size" data-validation-allowing="jpg, png, gif" data-validation-max-size="2M">
                                        </div>
                                        <div class="form-group">
                                            <label>Extension</label>
                                            <span class="help-block">Validate that a file is given and that it has .txt as extension</span>
                                            <input type="file" class="file" data-validation="required extension" data-validation-allowing="txt">
                                        </div>
                                        <div class="form-group">
                                            <label>Multiple Files</label>
                                            <span class="help-block">Min 2 images; format: jpg, png, gif; max-size: 512kb.</span>
                                            <input type="file" class="file" multiple="multiple"
                                                   data-validation="length mime size"
                                                   data-validation-length="min2"
                                                   data-validation-allowing="jpg, png, gif"
                                                   data-validation-max-size="512kb"
                                                   data-validation-error-msg-size="You can not upload images larger than 512kb"
                                                   data-validation-error-msg-mime="You can only upload images"
                                                   data-validation-error-msg-length="You have to upload at least two images">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END FILE EXAMPLE -->

                            </div>
                            <div class="col-md-6">

                                <!-- LOCATION EXAMPLE -->
                                <div class="block">

                                    <div class="app-heading app-heading-small">
                                        <div class="title">
                                            <h2>Location validators</h2>
                                            <p>This module contains validators needed when validating geographical data.</p>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <span class="help-block">Validate country (english only).</span>
                                            <input type="text" class="form-control" data-validation="country">
                                        </div>
                                        <div class="form-group">
                                            <label>State (US)</label>
                                            <span class="help-block">Validate US state (english only).</span>
                                            <input type="text" class="form-control" data-validation="federatestate">
                                        </div>
                                        <div class="form-group">
                                            <label>Longitude, Latitude</label>
                                            <span class="help-block">Validate longitude and latitude (eg 40.714623,-74.006605).</span>
                                            <input type="text" class="form-control" data-validation="longlat">
                                        </div>
                                        <div class="form-group margin-top-20">
                                            <button class="btn btn-default" type="submit">Submit & Validate</button>
                                        </div>
                                    </form>

                                </div>
                                <!-- END LOCATION EXAMPLE -->

                            </div>
                        </div>

                    </div>

                </div>
                <!-- END APP CONTENT -->

            </div>
            <!-- END APP CONTAINER -->

        </div>
        <!-- END APP WRAPPER -->

        <!-- IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/moment/moment.min.js"></script>
        <script type="text/javascript" src="js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- THIS PAGE SCRIPTS -->
        <script type="text/javascript" src="js/vendor/form-validator/jquery.form-validator.min.js"></script>
        <!-- END THIS PAGE SCRIPTS -->
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/app_plugins.js"></script>
        <script type="text/javascript" src="js/app_demo.js"></script>
        <!-- END APP SCRIPTS -->

        <script type="text/javascript">
            $.validate({
                modules : 'date,file,location',
                onValidate: function(){

                    delayBeforeFire(function(){
                        app.spy();
                    },100);

                }
            });
        </script>
    </body>
</html>
